<div class='contacts'>
  <h2 class='contacts__title'>
    Our amazing team:
  </h2>
  <ul class='contacts__list'>
    {{#each list}}
      <a class='contacts__link' href="{{url}}" target='_blank' rel='noreferrer noopener'>
        <li class='contact-card'>
          <div class='contact-card__picture'>
            <img class='contact-card__img-fluid' src='https://picsum.photos/130/130?image=1027' />
          </div>
          <div class='contact-card__content'>
            <h3 class='contact-card__name'>
              {{name}} {{surname}}
            </h3>
            <ul class='contact-card__title'>
              {{#each role}}
                <li>
                  {{this}}
                </li>
              {{/each}}
            </ul>
          </div>
          <ul class='contact-card__social-list'>
            <li class='contact-card__social-item'>
              <a href='#' class='contact-card__social-link'>
                <svg class='contact-card__social-link' width='32' height='32'>
                  <use href="{{../sprite}}#icon-github"></use>
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </a>
    {{/each}}
  </ul>
</div>