{{#each this}}
<li class="films__item">
  <div class="film__card">
    {{#if poster_path}}
    <img class="films__picture" data-index="{{id}}" src="https://image.tmdb.org/t/p/w500{{poster_path}}" loading="lazy"
      alt='Film {{title}} poster' />
    {{else}}
    <img class="films__picture" data-index="{{id}}"
      src="../../images/content/no-image-poster.png" alt="content photo">
    {{/if}}
  </div>
  <div>

    <h2 class="films__name">{{title}}</h2>

    <div class="films__info-wrap">
      <ul class="films__genre">
        {{#each genre_ids}}
        <li class="films__genre-item" data-index="{{this}}">{{this}}</li>
        {{/each}}
      </ul>
      <span class="films__info-mark">|</span>
      <p class="films__year">{{release_date}}</p>
      <p class="raiting">{{vote_average}}</p>
    </div>
  </div>
</li>
{{/each}}