<div class='modal__elements' data-id={{id}}>
 
  <div class='modal__img-container'>
    {{#if poster_path}}
      <img
        class='modal__img'
        src='https://image.tmdb.org/t/p/w400{{poster_path}}'
        alt={{original_title}}
      />
    {{else}}
      <img
        class='modal__img'
        src='https://github.com/Dron010/filmoteka/blob/main/src/images/content/no-image-poster.png?raw=true'
        alt={{original_title}}
      />
    {{/if}}
    <img
      class='film__trailer-img'
      data-modal='modal-video-btn'
      src='https://cdn.icon-icons.com/icons2/1584/PNG/512/3721679-youtube_108064.png'
      alt='trailer'
    />
  </div>
  <div class='modal__film-container'>
    <h3 class='modal__title'>
      {{original_title}}
    </h3>

    <div class='modal__film-info'>
      <ul class='modal__film'>
        <li class='modal__film-details lng-modal-votes'>
          Vote/Votes
        </li>
        <li class='modal__film-data lng-modal-rating'>
          <span class='raiting raiting--modal'>
            &nbsp{{vote_average}}&nbsp
          </span>
          / &nbsp{{vote_count}}
        </li>
      </ul>
      <ul class='modal__film'>
        <li class='modal__film-details lng-modal-popularity'>
          Popularity
        </li>
        <li class='modal__film-data'>
          {{popularity}}
        </li>
      </ul>
      <ul class='modal__film'>
        <li class='modal__film-details modal__orig-title lng-modal-title'>
          Original Title
        </li>
        <li class='modal__film-data modal__data-title'>
          {{original_title}}
        </li>
      </ul>
      <ul class='modal__film'>
        <li class='modal__film-details lng-modal-genres'>
          Genre
        </li>
        <ul class='modal__film-data modal__genres-list'>
          {{#each genres}}
            <li class='modal__film-data modal__genres-item'>{{this.name}}</li>
          {{/each}}
        </ul>
      </ul>
    </div>
    <h4 class='modal__about lng-modal-about'>
      About
    </h4>
    <p class='modal__text'>
      {{overview}}
    </p>
    <ul class='modal__list-btn'>
      <li class='modal__item'>
        <button class='modal__item-btn lng-modal-watched' data-watched data-id={{id}} type='button'>
          add to Watched
        </button>
      </li>
      <li class='modal__item'>
        <button class='modal__item-btn lng-modal-queue' data-queue data-id={{id}} type='button'>
          add to queue
        </button>
      </li>
    </ul>
  </div>
</div>